header {
    background-color: #333333;
    padding: 10px 0;
}

header p {
    font-size: 30px;
    line-height: 40px;
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
    text-align: center;
}

.nav-link {
    color: #fff !important;
}

ul {
    margin: 0;
    list-style: none;
    padding: 0;
    color: #fff !important;
}

ul li a {
    text-decoration: none;
}

li {
    float: left;
    position: relative;
    padding: 0 24px;
}

li a {
    line-height: 80px;
    color: #efefef;
    font-size: 15px;
    font-weight: bold;

    text-transform: uppercase;
}

.mb-4 {
    margin-bottom: -2.5rem !important;
}

.search {
}

#search {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url("searchicon.png");
    background-position: right;
    background-repeat: no-repeat;
    padding: 10px 12px 10px 15px;
    transition: width 0.4s ease-in-out;
    background-size: 25px 25px;
}

#search:focus {
    width: 400px;
}
