.cl1 {
    height: 370px;
}

.cl2 {
    height: 250pxpx;
}

.img-news1 {
    height: 370px;
}

.img-news2 {
    height: 175px;
}

.last1 {
    margin-top: 20px;
}

.col-news2 {
    margin-top: 100px;
}

.lastest-ar {
    margin-top: 30px;
    font-size: 30px;
}
.img-col2 {
    height: 100px;
}

.news-col2 {
    margin-bottom: 20px;
}
